<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
      <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3"><%= siteName %> </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
      <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
      Masters
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser"
        aria-expanded="true" aria-controls="collapseUser">
        <i class="fas fa-fw fa-cog"></i>
        <span>Admin Users</span>
    </a>
    <div id="collapseUser" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Components:</h6>
            <a class="collapse-item" href="/add-admin-users">Create</a>
            <a class="collapse-item" href="/admin-users">List</a>
        </div>
    </div>
</li>

<li class="nav-item">
    
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAppUser"
        aria-expanded="true" aria-controls="collapseAppUser">
        <i class="fas fa-fw fa-cog"></i>
        <span>App User</span>
    </a>
    <div id="collapseAppUser" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Components:</h6>
            <!-- <a class="collapse-item" href="/add-app-users">Create</a> -->
            <a class="collapse-item" href="/app-users">List</a>
        </div>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
        aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Category</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Components:</h6>
            <a class="collapse-item" href="/add-body-focus">Create</a>
            <a class="collapse-item" href="/body-focus">List</a>
            <a class="collapse-item" href="/body-focus-subcat?page=1">Sub Category List</a>
        </div>
    </div>
</li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBrand"
        aria-expanded="true" aria-controls="collapseBrand">
        <i class="fas fa-fw fa-cog"></i>
        <span>Brand</span>
    </a>
    <div id="collapseBrand" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Components:</h6>
            <a class="collapse-item" href="/add-brand">Create</a>
            <a class="collapse-item" href="/brand">List</a>
        </div>
    </div>
</li>


<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProductComponent"
        aria-expanded="true" aria-controls="collapseSize">
        <i class="fas fa-fw fa-cog"></i>
        <span>Product Condition List</span>
    </a>
    <div id="collapseProductComponent" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Components:</h6>
            <a class="collapse-item" href="/add-productcondition">Create</a>
            <a class="collapse-item" href="/productcondition">List</a>
        </div>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSize"
        aria-expanded="true" aria-controls="collapseSize">
        <i class="fas fa-fw fa-cog"></i>
        <span>Size List</span>
    </a>
    <div id="collapseSize" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Components:</h6>
            <a class="collapse-item" href="/add-size">Create</a>
            <a class="collapse-item" href="/size">List</a>
        </div>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCatBrand"
        aria-expanded="true" aria-controls="collapseCatBrand">
        <i class="fas fa-fw fa-cog"></i>
        <span>Category Brand List</span>
    </a>
    <div id="collapseCatBrand" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Components:</h6>
            <a class="collapse-item" href="/add-catbrand">Create</a>
            <a class="collapse-item" href="/catbrand">List</a>
        </div>
    </div>
</li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTraining"
        aria-expanded="true" aria-controls="collapseTraining">
        <i class="fas fa-fw fa-cog"></i>
        <span>Product</span>
    </a>
    <div id="collapseTraining" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Components:</h6>
            <a class="collapse-item" href="/productlist">List</a>
        </div>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseShippingkit"
        aria-expanded="true" aria-controls="collapseShippingkit">
        <i class="fas fa-fw fa-cog"></i>
        <span>Shipping Kit Management</span>
    </a>
    <div id="collapseShippingkit" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Components:</h6>
            <a class="collapse-item" href="/shippingkitlist">Shipment Kit List</a>
            <!-- <a class="collapse-item" href="/productlist">Pickup Management</a>
            <a class="collapse-item" href="/productlist">Delivery Management</a> -->
        </div>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOrder"
        aria-expanded="true" aria-controls="collapseOrder">
        <i class="fas fa-fw fa-cog"></i>
        <span>Order Management</span>
    </a>
    <div id="collapseOrder" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Components:</h6>
            <a class="collapse-item" href="/orderlist">Order List</a>
            <!-- <a class="collapse-item" href="/productlist">Pickup Management</a>
            <a class="collapse-item" href="/productlist">Delivery Management</a> -->
        </div>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseHub"
        aria-expanded="true" aria-controls="collapseHub">
        <i class="fas fa-fw fa-cog"></i>
        <span>Hub Management</span>
    </a>
    <div id="collapseHub" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Components:</h6>
            <a class="collapse-item" href="/add-hubdata">Create</a>
            <a class="collapse-item" href="/hublist">Hub List</a>
        </div>
    </div>
</li>

<!-- Best Deal-->

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBanner"
        aria-expanded="true" aria-controls="collapseBanner">
        <i class="fas fa-fw fa-cog"></i>
        <span>Banner</span>
    </a>
    <div id="collapseBanner" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Components:</h6>
            <a class="collapse-item" href="/add-banner">Create Banner</a>
            <a class="collapse-item" href="/banner-list">Banner List</a>
        </div>
    </div>
</li>

<!-- Best Deal-->

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBestdeal"
        aria-expanded="true" aria-controls="collapseBestdeal">
        <i class="fas fa-fw fa-cog"></i>
        <span>Best Deal</span>
    </a>
    <div id="collapseBestdeal" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Components:</h6>
            <a class="collapse-item" href="/add-bestdeal">Create Best Deal</a>
            <a class="collapse-item" href="/bestdeal">Best Deal List</a>
        </div>
    </div>
</li>

<!-- Best Deal-->

<!-- Shipping Charges -->

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseShippingchrgs"
        aria-expanded="true" aria-controls="collapseShippingchrgs">
        <i class="fas fa-fw fa-cog"></i>
        <span>Shipping Charges</span>
    </a>
    <div id="collapseShippingchrgs" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Components:</h6>
            <a class="collapse-item" href="/add-shippingchrgs">Create</a>
            <a class="collapse-item" href="/shippingchrgs">List</a>
        </div>
    </div>
</li>

<!-- Shipping Charges-->

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBidmanagement"
        aria-expanded="true" aria-controls="collapseBidmanagement">
        <i class="fas fa-fw fa-cog"></i>
        <span>Bid Management</span>
    </a>
    <div id="collapseBidmanagement" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Components:</h6>
            <a class="collapse-item" href="/bid-listing">List</a>
        </div>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCart"
        aria-expanded="true" aria-controls="collapseCart">
        <i class="fas fa-fw fa-cog"></i>
        <span>Cart Time</span>
    </a>
    <div id="collapseCart" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Components:</h6>
            <a class="collapse-item" href="/add-carttime">Create</a>
            <a class="collapse-item" href="/carttime">Cart Timing</a>
        </div>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAppSettings"
        aria-expanded="true" aria-controls="collapseAppSettings">
        <i class="fas fa-fw fa-cog"></i>
        <span>App Settings</span>
    </a>
    <div id="collapseAppSettings" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Components:</h6>
            <!-- <a class="collapse-item" href="/add-app-settings">Create</a> -->
            <a class="collapse-item" href="/app-settings">List</a>
        </div>
    </div>
</li>


  <!-- Nav Item - Utilities Collapse Menu -->
  <%#<li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
          aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Utilities</span>
      </a>
      <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
          data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Custom Utilities:</h6>
              <a class="collapse-item" href="utilities-color.html">Colors</a>
              <a class="collapse-item" href="utilities-border.html">Borders</a>
              <a class="collapse-item" href="utilities-animation.html">Animations</a>
              <a class="collapse-item" href="utilities-other.html">Other</a>
          </div>
      </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
      Addons
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
          aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>Pages</span>
      </a>
      <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Login Screens:</h6>
              <a class="collapse-item" href="login.html">Login</a>
              <a class="collapse-item" href="register.html">Register</a>
              <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
              <div class="collapse-divider"></div>
              <h6 class="collapse-header">Other Pages:</h6>
              <a class="collapse-item" href="404.html">404 Page</a>
              <a class="collapse-item" href="blank.html">Blank Page</a>
          </div>
      </div>
  </li>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
      <a class="nav-link" href="charts.html">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Charts</span></a>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
      <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Tables</span></a>
  </li>%>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

  <!-- Sidebar Message -->
  <%#<div class="sidebar-card d-none d-lg-flex">
      <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
      <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
      <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
  </div>%>

</ul>