<%- include('../../public/assets/include/header'); %>

<!DOCTYPE html>
<html lang="en">
<script>
   let isLoggedIn = "";
</script>
<section class="bids-wrapper">
   <div class="container">     
      <div class="bids-lists">
         <div class="title-box">
         <div class="bids-title">
            <h1>My Bids</h1>
            <div class="sts-btn">On Going</div>
         </div>        
        </div>
         <div class="bids-row">             
            <div class="br-details">
               <div class="bid-images"><img src="assets/images/product4.jpg" alt="images" class="img-fluid"></div>
               <div class="bid-info">
                  <div class="bd-title">Lorem ipsum dolor sit amet</div>
                  <div class="bd-price">
                     <span><i class="fa fa-inr" aria-hidden="true"></i></span>
                     10,000
                  </div>
                  <div class="rtl-price"><span>Est. Retail:</span><i class="fa fa-inr" aria-hidden="true"></i> 110000</div>
                  <div class="bidding-box">
                     <div class="highlight-title">Bid Price</div>
                     <div class="bidding-price"><span><i class="fa fa-inr" aria-hidden="true"></i></span>6,000</div>
                  </div>
               </div>
            </div>
           <!--  <div class="br-status">
               <div class="inner-box">
                  <h6>Bid Status:</h6>
                  <div class="status-btn">
                     <button class="sts-btn running-btn">On Going</button>                     
                  </div>
               </div>
            </div> -->
            <div class="br-results">
               <div class="bd-success-box">
                  <ul class="resultlist">
                     <li><a href="bids-chat.php">Re Bid</a></li>
                     <li><a href="javascript:void(0)"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                     <li><a href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                  </ul>
                  <div class="price-label"><a href="javascript;void(0)">Buy Now at <span><i class="fa fa-inr" aria-hidden="true"></i></span> 10,000</a></div>
               </div>
            </div>
         </div>

         <div class="bids-row">             
            <div class="br-details">
               <div class="bid-images"><img src="assets/images/product4.jpg" alt="images" class="img-fluid"></div>
               <div class="bid-info">
                  <div class="bd-title">Lorem ipsum dolor sit amet</div>
                  <div class="bd-price">
                     <span><i class="fa fa-inr" aria-hidden="true"></i></span>
                     10,000
                  </div>
                  <div class="rtl-price"><span>Est. Retail:</span><i class="fa fa-inr" aria-hidden="true"></i> 110000</div>
                  <div class="bidding-box">
                     <div class="highlight-title">Bid Price</div>
                     <div class="bidding-price"><span><i class="fa fa-inr" aria-hidden="true"></i></span>6,000</div>
                  </div>
               </div>
            </div>
           
            <div class="br-results">
               <div class="bd-success-box">
                  <ul class="resultlist">
                     <li><a href="bids-chat.php">Re Bid</a></li>
                     <li><a href="javascript:void(0)"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                     <li><a href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                  </ul>
                  <div class="price-label"><a href="javascript;void(0)">Buy Now at <span><i class="fa fa-inr" aria-hidden="true"></i></span> 10,000</a></div>
               </div>
            </div>
         </div>
      </div>

       <div class="bids-lists mt-50">
         <div class="title-box">
         <div class="bids-title">
            <h1>My Bids</h1>
            <div class="sts-btn">Closed</div>
         </div>        
        </div>
         <div class="bids-row">
            <div class="br-details">
               <div class="bid-images"><img src="assets/images/product4.jpg" alt="images" class="img-fluid"></div>
               <div class="bid-info">
                  <div class="bd-title">Lorem ipsum dolor sit amet</div>
                  <div class="bd-price">
                     <span><i class="fa fa-inr" aria-hidden="true"></i></span>
                     10,000
                  </div>
                  <div class="rtl-price"><span>Est. Retail:</span><i class="fa fa-inr" aria-hidden="true"></i> 110000</div>
                  <div class="bidding-box">
                     <div class="highlight-title">Bid Price</div>
                     <div class="bidding-price"><span><i class="fa fa-inr" aria-hidden="true"></i></span>6,000</div>
                  </div>
               </div>
            </div>
           
            <div class="br-results">
               <div class="bd-success-box">
                  <div class="status-btn">                     
                     <button class="sts-btn won-btn">You Won</button>                    
                  </div>
                  <h6 class="success-title">Congratulation You Outbid Everyone</h6>
                  <p class="time-box">2023.10.03 | 11:10Am </p>
               </div>
            </div>
         </div>
         <div class="bids-row">
            <div class="br-details">
               <div class="bid-images"><img src="assets/images/product4.jpg" alt="images" class="img-fluid"></div>
               <div class="bid-info">
                  <div class="bd-title">Lorem ipsum dolor sit amet</div>
                  <div class="bd-price">
                     <span><i class="fa fa-inr" aria-hidden="true"></i></span>
                     10,000
                  </div>
                  <div class="rtl-price"><span>Est. Retail:</span><i class="fa fa-inr" aria-hidden="true"></i> 110000</div>
                  <div class="bidding-box">
                     <div class="highlight-title">Bid Price</div>
                     <div class="bidding-price"><span><i class="fa fa-inr" aria-hidden="true"></i></span>6,000</div>
                  </div>
               </div>
            </div>
           
            <div class="br-results">
               <div class="bd-success-box">
                   <div class="status-btn">                     
                     <button class="sts-btn fail-btn">You Missed</button>                   
                  </div>
                  <p class="time-box">2023.10.03 | 11:10Am </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
 
  <%- include('../../public/assets/include/newsletter'); %>
  <%- include('../../public/assets/include/footer'); %>
</body>
<script>
   $(document).on("click",".bidButton",function() {
      if(isLoggedIn != "") {
         window.location.href = "/bid-for-product";
      } else {
         //$('.loginModal').trigger('click');
         $('#login_modal').modal('show'); 
      }
      // Swal.fire({
      //    title: "<i>Title</i>", 
      //    html: "Test",  
      //    confirmButtonText: "Hi",  
      // });

   });
   
</script>