<%- include('../../public/assets/include/header'); %>

<section class="bids-wrapper">
    <div class="container">     
        <div class="bids-lists cart-wrapper">     
        <div class="cart-list">
            <div class="bids-row cart-row">             
                <div class="br-details">
                   <!-- <div class="bid-images">
                       <img src="" alt="images" class="img-fluid">
                   </div> -->
                   <div class="bid-info">
                      <div class="bd-title">No Item in Cart</div>
                                     
                   </div>
                </div>
        </div>
        </div>
    </div>
</section>
<%- include('../../public/assets/include/newsletter'); %>
<%- include('../../public/assets/include/footer'); %>