<%- include('../../public/assets/include/header'); %>

<section class="bids-wrapper empty-content ">
    <div class="container">
      <div class="ec-box">
         <h6>Your shopping cart is empty</h6>
         <p>Please browse products to add in your cart!</p>
         <a href="/webSubCategories" class="bc-btn">Continue Shopping</a>
      </div> 
    </div>
   </section> 
<%- include('../../public/assets/include/newsletter'); %>
<%- include('../../public/assets/include/footer'); %>