<%- include('../../public/assets/include/header'); %>

<section class="inner-wrapper">
  <div class="container">
     <div class="row">
        <div class="col-md-5">
           <div class="left-boxpart full-width hide-mobile">
           <div class="box-inner">
              <img src="/public/assets/images/white_logo.png" alt="image" class="lg-logo">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
           </div>
        </div>
        </div>
        <div class="col-md-7">
           <div class="signpart">
              <div class="title-box mb-3 ">
           <h1>Forgot Your Password?</h1>
           <p>Enter your e-mail address below to reset your password.</p>
        </div>
        <div class="loginform-box">           
           <form action="" method="">
            <div class="frg-box input-otp">
               <div class="row">                  
                 <div class="col-md-8"><input type="email" class="form-control mb-3 email" id="forgot-email" placeholder="Enter Email" name="email"></div>
                 
                 <div class="col-md-12"><button type="button" class="btn liginbtn resetpass">Sent OTP</button></div>
              </div>
            </div>
            <div  class="input-password" style="display:none;">
               <div class="row">  
               <div class="col-md-8">   
                  <input type="number" class="form-control mb-3" id="emailotp" placeholder="Enter OTP" name="emailotp" required>
                  <input type="password" class="form-control mb-3" id="newpwd" placeholder="Enter Password" name="newpassword" required>
                  <input type="password" class="form-control mb-3" id="newcpwd" placeholder="Enter Confirm Password" name="newconfirmpassword" required>
                  <p id="passwordMatchMessage" class="mb-3"></p>
                  <button type="button" class="btn liginbtn resetpass">Reset Password/Send OTP</button>
               </div>
               
               
               </div>
              </div>
                                     
            </form>
            
        </div>
        <div class="signup-text">
                    <p>Remember Your Password <a href="#login_modal" data-toggle="modal" >Back to Login</a></p>
                 </div>
           </div>
           
        </div>
     </div>
     
        
  </div>
</section>

<section class="latest-updates-block">
  <div class="container">
     <div class="latest-updates-inner">
        <div class="updates-info">
           <p>Enter email for latest updates and offers!</p>
        </div>
        <div class="input-group">
           <input type="email" class="form-control" placeholder="Enter Your Email">
           <span class="input-group-btn">
           <button class="btn btn-theme" type="submit">Go</button>
           </span>
        </div>
     </div>
  </div>
</section>
<section class="footer-wrapper">
  <div class="container">
     <div class="row">
        <div class="col-lg-9 ">
           <div class="row">
              <div class="col-md-3">
                 <div>
                    <a href="javascript:void(0)">
                    <img src="assets/images/bfs-logo.png" alt="image" class="ft-logo">
                    </a>
                 </div>
                 <div class="list-icon">
                    <ul>
                       <li><span><i class="fa fa-phone" aria-hidden="true"></i></span><a href="javascript:void(0)">+91 1234567890</a></li>
                       <li><span><i class="fa fa-envelope" aria-hidden="true"></i></span><a href="javascript:void(0)">Info@bidforsale.com</a></li>
                    </ul>
                 </div>
              </div>
              <div class="col-md-3">
                 <h4 class="footer-title">ABOUT</h4>
                 <div class="footer-list">
                    <ul>
                       <li><a href="javascript:void(0)">Contact Us</a></li>
                       <li><a href="javascript:void(0)">About Us</a></li>
                       <li><a href="javascript:void(0)">Careers</a></li>
                       <li><a href="javascript:void(0)">Stories</a></li>
                       <li><a href="javascript:void(0)">Corporate Information</a></li>
                    </ul>
                 </div>
              </div>
              <div class="col-md-3">
                 <h4 class="footer-title">HELP</h4>
                 <div class="footer-list">
                    <ul>
                       <li><a href="javascript:void(0)">Payments</a></li>
                       <li><a href="javascript:void(0)">Shipping</a></li>
                       <li><a href="javascript:void(0)">Cancellation & Returns</a></li>
                       <li><a href="javascript:void(0)">FAQ</a></li>
                       <li><a href="javascript:void(0)">Report Infringement</a></li>
                    </ul>
                 </div>
              </div>
              <div class="col-md-3">
                 <h4 class="footer-title">CONSUMER POLICY</h4>
                 <div class="footer-list">
                    <ul>
                       <li><a href="javascript:void(0)">Cancellation & Returns</a></li>
                       <li><a href="terms.php">Terms Of Use</a></li>
                       <li><a href="javascript:void(0)">Security</a></li>
                       <li><a href="privacy.php">Privacy</a></li>
                       <li><a href="javascript:void(0)">Sitemap</a></li>
                    </ul>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-lg-3 ">
           <h4 class="footer-title">EXPERIENCE APP ON MOBILE</h4>
           <div class="app-box">
              <span><a href="javascript:void(0)"><img src="assets/images/app-icon.png" alt="image"></a></span>
              <span><a href="javascript:void(0)"><img src="assets/images/ios-icon.png" alt="image"></a></span>
           </div>
           <div class="follow-part">
              <h4 class="footer-title">KEEP IN TOUCH</h4>
              <ul class="social-list">
                 <li><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                 <li><a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                 <li><a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                 <li><a href="javascript:void(0)"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
              </ul>
           </div>
        </div>
     </div>
  </div>
</section>
<section class="copyright-part">
  <div class="container">
     <p>Copyright 2023 All rights reserved.</p>
  </div>
</section>
<!-- The Modal -->
<div class="modal theme_modal login_modal" id="login_modal">
  <div class="modal-dialog">
     <button type="button" class="close" data-dismiss="modal">&times;</button>
     <div class="modal-content login-box">
        <div class="left-boxpart hide-mobile">
           <div class="box-inner">
              <img src="assets/images/white_logo.png" alt="image" class="lg-logo">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
           </div>
        </div>
        <div class="right-formpart loginform-box">
           <h5 class="box-title">Login</h5>
           <div class="inner-formbox">
              <ul class="nav nav-tabs" role="tablist">
                 <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#login-password" role="tab">Using Password</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#login-otp" role="tab">Using Otp</a>
                 </li>
              </ul>
              <div class="tab-content">
                 <div class="tab-pane active" id="login-password" role="tabpanel">
                    <form action="">
                       <div class="mb-3">   
                          <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email">
                       </div>
                       <div class="mb-3">   
                          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                       </div>
                       <div class="forgot-line mb-3">                             
                          <span><a href="forgot-password.php">Forgot Password</a></span>
                       </div>
                       <div class="button-row">
                          <button type="submit" class="btn liginbtn">Login</button>
                       </div>
                    </form>
                 </div>
                 <div class="tab-pane" id="login-otp" role="tabpanel">
                    <form action="">
                       <div class="mb-3">   
                          <input type="password" class="form-control" id="pwd" placeholder="Enter Otp" name="pswd">
                       </div>
                       <div class="button-row">                         
                          <button type="submit" class="btn liginbtn">Login</button>
                       </div>
                    </form>
                 </div>
                 <div class="or-part">
                    <span>or Sign Up with</span>
                 </div>
                 <div class="social-loginlist">
                    <ul>
                       <li><a href="javascript:void(0)" class="sl-box"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                       <li><a href="javascript:void(0)" class="sl-box"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                       <li><a href="javascript:void(0)" class="sl-box"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                 </div>
                 <div class="signup-text">
                    <p>Don't have an account? <a href="sign-up.php">Sign Up</a></p>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>

<div class="modal theme_modal short-modal" id="profile-change-modal">
  <div class="modal-dialog">
     <button type="button" class="close" data-dismiss="modal">&times;</button>
     <div class="modal-content">         
        <div class="loginform-box short-box">
           <h5 class="box-title">Change Profile Picture</h5>
           <div class="inner-formbox">             
               <form action="">
                       <div class="mb-3">   
                          <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email">
                       </div>
                       <div class="mb-3">   
                          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                       </div>
                       <div class="forgot-line mb-3">                             
                          <span><a href="/api/forgot-password">Forgot Password</a></span>
                       </div>
                       <div class="button-row">
                          <button type="submit" class="btn liginbtn">Login</button>
                       </div>
                    </form>
           </div>
        </div>
     </div>
  </div>
</div>
</script>
   <%- include('../../public/assets/include/newsletter'); %>
      <%- include('../../public/assets/include/footer'); %>
<script>

$(document).ready(function () {
    $('#newpwd, #newcpwd').on('input', function () {
      checkPasswordMatch();
    });
  });

   function checkPasswordMatch() {
      var password = $('#newpwd').val();
      var confirmPassword = $('#newcpwd').val();
      var messageElement = $('#passwordMatchMessage');

      if (password.length >= 8 && password.length <= 8 && confirmPassword.length >= 8 && confirmPassword.length <= 8) {
         if (password === confirmPassword) {
               messageElement.text('Passwords match with Confrim Password.').css('color', 'green');
               return true;
         } else {
               messageElement.text('Confrim Passwords do not match.').css('color', 'red');
               return false;
         }
      } else {
         messageElement.text(' Both Passwords must be 8 characters long.').css('color', 'red');
         return false;
      }
   }

$(document).on('click', ".resetpass", function(e){
      var email = $("#forgot-email").val();
      var otp = $("#emailotp").val();
        var newPassword = $("#newpwd").val();
        var confirmPassword = $("#newcpwd").val();

        if (!email || !otp || !newPassword || !confirmPassword) {
            if(email != "" && otp == "" && newPassword == "" && confirmPassword == "") {
               $.ajax({
                  url: "/api/forgotpassword-sendotp",
                  type: "POST",
                  data: { email: email },
                  success: function(data) 
                  {

                     if (data.is_forgetpassword) {
                        Swal.fire({
                                 html: data.message,  
                                 confirmButtonText: "OK",
                                 customClass: { confirmButton: 'alert-box-button' }
                                 
                                 });
                     $('.input-otp').hide();
                     $('.input-password').show();
                     } else {
                        Swal.fire({
                                 html: "Please enter correct email id",  
                                 confirmButtonText: "OK",
                                 customClass: { confirmButton: 'alert-box-button', popup: 'swal2-popup' }
                                 });
                     }
                  },
                  error: function(err) 
                  {
                     console.error('Error:', err);
                  } 
               });
            } else if(email != "" && newPassword != "" && confirmPassword == "") {
               Swal.fire({
                  html: "Please enter Confirm password!!",
               })
            } else if(email != "" && newPassword == "") {
               Swal.fire({
                  html: "Please enter password!!",
               })
            } else if(email != "" && otp == "") {
               Swal.fire({
                  html: "Please enter otp!!",
               })
            } else if(email != "" && otp == ""  && newPassword == "" && confirmPassword == ""){
               
            }
        }
        else
        {   
            let chkPassword = checkPasswordMatch();
            if(chkPassword) {
               $.ajax({
                  url: "/api/forgotpassword-sendotp",
                  type: "POST",
                  data: {
                        email: email,
                        otp: otp,
                        newPassword: newPassword,
                        confirmPassword: confirmPassword
                     },
                  success: function(data) 
                  {
                     console.log(data);
                     if (data.is_forgetpassword) {
                                             Swal.fire({
                        html: data.message,
                        confirmButtonText: "OK",
                        customClass: { confirmButton: 'alert-box-button' }
                     }).then((result) => {
                        if (data.is_changepassword && result.isConfirmed) {
                           window.location.href = "/api/home";
                        } else {
                           $('.input-password').show();
                        }
                     });
                     } else {
                        Swal.fire({
                                 html:data.message,  
                                 confirmButtonText: "OK",
                                 customClass: { confirmButton: 'alert-box-button', popup: 'swal2-popup' }
                                 });
                     }
                  },
                  error: function(err) 
                  {
                     console.error('Error:', err);
                  } 
               });
            }
        }
     
});

</script>