<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Bfs retail services private limited</title>
   </head>
   <body>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
         <tbody>
            <tr>
               <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="3" style="font-family:'Arial', Gadget, sans-serif; font-size:15px; line-height:18px;">
                     <tbody>
                        <tr>
                           <td style="padding-top: 10px; width: 10%; text-align: center; border-left: solid 1px #000; border-top: solid 1px #000;">
                              <img src="logo.png" alt=""> 
                           </td>
                           <td style="padding-top: 10px; width: 80%; text-align: center; border-top: solid 1px #000; border-right: solid 1px #000;font-weight: bold; line-height: 23px;">
                              <h1 style="font-size:25px; margin: 0px;">BFS RETAIL SERVICES PRIVATE LIMITED</h1>
                              ALTITUDE THE BUSINESS PARK<br>
                              2, OC GANGULY SARANI BHAWANIPORE<br>
                              10TH FLOOR KOLKATA -700020<br>
                              Email: support@bidforsale.com<br>
                              Tel: +91- 9674173655<br>
                              GSTIN:-19AALCB9231G1ZG
                           </td>
                           <td style="padding-top: 10px; width: 10%; text-align: center; border-right: solid 1px #000; border-top: solid 1px #000;">
                              <img src="logo-demo.png" alt=""> 
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <table width="100%" border="0" cellspacing="0" cellpadding="3" style="font-family:'Arial', Gadget, sans-serif; font-size:15px; line-height:18px; background:#fabf8f;">
                     <tbody>
                        <tr>
                           <td style="padding: 10px; width: 100%; text-align: center; border-top: solid 1px #000; border-right: solid 1px #000; border-left: solid 1px #000; font-weight: bold;">
                              <h1 style="font-size:25px; margin: 0px;">Tax Invoice</h1>
                              (See rule 7, for a tax invoice referred to in section 31)
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <table width="100%" border="0" cellspacing="0" cellpadding="3" style="border-left:solid 1px #000; border-top:solid 1px #000; font-family:'Arial', Gadget, sans-serif; font-size:15px; line-height:18px;">
                     <tbody>
                        <tr>
                           <td style="width: 50%; border-right:solid 1px #000; border-bottom:solid 1px #000;"><strong>Invoice No: BB/000001/03-24</strong></td>
                           <td rowspan="2" style="width: 50%; border-right:solid 1px #000;"><strong>Product Ref No.</strong></td>
                        </tr>
                        <tr>
                           <td style="border-right:solid 1px #000;"><strong>Invoice date:</strong></td>
                        </tr>
                     </tbody>
                  </table>
                  <table width="100%" border="0" cellspacing="0" cellpadding="3" style="border-left:solid 1px #000; border-top:solid 1px #000; font-family:'Arial', Gadget, sans-serif; font-size:15px; line-height:18px;">
                     <tbody>
                        <tr>
                           <td style="border-right:solid 1px #000;"><strong>Reverse Charge (Y/N): No</strong></td>
                        </tr>
                        <tr>
                           <td style="border-right:solid 1px #000;"><strong>State: </strong></td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
            <tr>
               <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="3" style="border-left:solid 1px #000; border-top:solid 1px #000; font-family:'Arial', Gadget, sans-serif; font-size:15px; line-height:18px;">
                     <tr style="background:#fabf8f;">
                        <td width="50%" style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;"><strong>Detail of Receiver (Billed to)</strong></td>
                        <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;"><strong>Detail of Consignee (Shipped to)</strong></td>
                     </tr>
                     <tr>
                        <td width="50%" style="border-right:solid 1px #000; border-bottom:solid 1px #000;"><strong>Name:</strong></td>
                        <td style="border-right:solid 1px #000; border-bottom:solid 1px #000;"><strong>Name:</strong></td>
                     </tr>
                     <tr>
                        <td width="50%" style="border-right:solid 1px #000; border-bottom:solid 1px #000;"><strong>Address:</strong><br>&nbsp</td>
                        <td style="border-right:solid 1px #000; border-bottom:solid 1px #000;"><strong>Address:</strong><br>&nbsp</td>
                     </tr>
                     <tr>
                        <td width="50%" style="border-right:solid 1px #000; border-bottom:solid 1px #000;"><strong>GSTIN:</strong></td>
                        <td style="border-right:solid 1px #000; border-bottom:solid 1px #000;"><strong>GSTIN:</strong></td>
                     </tr>
                     <tr>
                        <td style="padding: 0px; border-right:solid 1px #000; border-bottom:solid 1px #000;">
                           <table width="100%" border="0" cellspacing="0" cellpadding="3" style="font-family:'Arial', Gadget, sans-serif; font-size:15px; line-height:18px;">
                              <tbody>
                                 <tr>
                                    <td style="width: 70%; border-right:solid 1px #000;"><strong>State:</strong></td>
                                    <td style="width: 30%;">&nbsp</td>
                                 </tr>
                              </tbody>
                           </table>
                        </td>
                        <td style="padding: 0px; border-right:solid 1px #000; border-bottom:solid 1px #000;">
                           <table width="100%" border="0" cellspacing="0" cellpadding="3" style="font-family:'Arial', Gadget, sans-serif; font-size:15px; line-height:18px;">
                              <tbody>
                                 <tr>
                                    <td style="width: 60%; border-right:solid 1px #000;"><strong>State:</strong></td>
                                    <td style="width: 10%; border-right:solid 1px #000;">&nbsp</td>
                                    <td style="width: 10%; border-right:solid 1px #000;">&nbsp</td>
                                    <td style="width: 10%; border-right:solid 1px #000;">&nbsp</td>
                                    <td style="width: 10%;">&nbsp</td>
                                 </tr>
                              </tbody>
                           </table>
                        </td>
                     <tr>
                        <td colspan="2" style="border-right:solid 1px #000;">&nbsp;</td>
                     </tr>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="text-align: center; border-left:solid 1px #000; font-family:'Arial', Gadget, sans-serif; font-size:13px; line-height:18px;">
                     <tbody>
                        <tr>
                           <td width="6%" rowspan="2" style="border-right:solid 1px #000; border-bottom:solid 1px #000; text-align: center; background:#fabf8f; "><strong>S. No.</strong></td>
                           <td width="10%" rowspan="2" style="border-right:solid 1px #000; border-bottom:solid 1px #000;  text-align: center; background:#fabf8f; "><strong>Product Description</strong></td>
                           <td width="6%" rowspan="2" style="border-right:solid 1px #000; border-bottom:solid 1px #000; text-align: center; background:#fabf8f; "><strong>HSN code</strong></td>
                           <td width="6%" rowspan="2" style="border-right:solid 1px #000; border-bottom:solid 1px #000; text-align: center; background:#fabf8f; "><strong>UOM</strong></td>
                           <td width="6%" rowspan="2" style="border-right:solid 1px #000; border-bottom:solid 1px #000; text-align: center; background:#fabf8f; "><strong>Qty</strong></td>
                           <td width="6%" rowspan="2" style="border-right:solid 1px #000; border-bottom:solid 1px #000; text-align: center; background:#fabf8f; "><strong>Rate</strong></td>
                           <td width="6%" rowspan="2" style="border-right:solid 1px #000; border-bottom:solid 1px #000; text-align: center; background:#fabf8f; "><strong>Amount</strong></td>
                           <td width="9%" rowspan="2" style="border-right:solid 1px #000; border-bottom:solid 1px #000; background:#fabf8f; "><strong>Taxable<br>Value</strong></td>
                           <td width="6%" colspan="2" style="border-right:solid 1px #000; border-bottom:solid 1px #000;text-align: center; background:#fabf8f; "><strong>CGST</strong></td>
                           <td width="6%" colspan="2" style="border-right:solid 1px #000; border-bottom:solid 1px #000;text-align: center; background:#fabf8f; ">
                              <strong>SGST</strong>
                           </td>
                           <td width="6%" colspan="2" style="border-right:solid 1px #000; border-bottom:solid 1px #000;text-align: center; background:#fabf8f; ">
                              <strong>IGST</strong>
                           </td>
                           <td width="9%" rowspan="2" style="border-right:solid 1px #000; border-bottom:solid 1px #000; text-align: center; background:#fabf8f; ;"><strong>Total</strong> </td>
                        </tr>
                        <tr >
                           <td style="border-right:solid 1px #000; border-bottom:solid 1px #000;text-align: center; background:#fabf8f; "><strong> Rate</strong> </td>
                           <td style="border-right:solid 1px #000; border-bottom:solid 1px #000;text-align: center; background:#fabf8f; "><strong> Amount</strong> </td>
                           <td style="border-right:solid 1px #000; border-bottom:solid 1px #000;text-align: center; background:#fabf8f; "><strong> Rate</strong> </td>
                           <td style="border-right:solid 1px #000; border-bottom:solid 1px #000;text-align: center; background:#fabf8f; "><strong> Amount</strong> </td>
                           <td style="border-right:solid 1px #000; border-bottom:solid 1px #000;text-align: center; background:#fabf8f; "><strong> Rate</strong> </td>
                           <td style="border-right:solid 1px #000; border-bottom:solid 1px #000;text-align: center; background:#fabf8f; "><strong> Amount</strong> </td>
                        </tr>
                        <tr>
                           <td style="text-align: left; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: left; border-right:solid 1px #000; border-bottom:solid 1px #000;">Product</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;"> &nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;"> &nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                        </tr>
                        <tr>
                           <td style="text-align: left; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: left; border-right:solid 1px #000; border-bottom:solid 1px #000;">Product</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;"> &nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;"> &nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                        </tr>
                        <tr>
                           <td style="text-align: left; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: left; border-right:solid 1px #000; border-bottom:solid 1px #000;">Product</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;"> &nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;"> &nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                        </tr>
                        <tr>
                           <td style="text-align: left; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: left; border-right:solid 1px #000; border-bottom:solid 1px #000;">Product</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;"> &nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;"> &nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                        </tr>
                        <tr>
                           <td style="text-align: left; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: left; border-right:solid 1px #000; border-bottom:solid 1px #000;">Product</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;"> &nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;"> &nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                        </tr>
                        <tr>
                           <td style="text-align: left; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: left; border-right:solid 1px #000; border-bottom:solid 1px #000;">Product</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;"> &nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;"> &nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                        </tr>
                        <tr>
                           <td colspan="4" style="background:#fabf8f; padding:10px; text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">
                              <h1 style="font-size:25px; margin: 0px;">Total</h1>
                           </td>
                           <td style="background:#fabf8f; text-align: left; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="background:#fabf8f; text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="background:#fabf8f; text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;"> 0</td>
                           <td style="background:#fabf8f; text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;"> 0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                           <td style="text-align: right; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                        </tr>
                        <tr>
                           <td colspan="8" style="background:#fabf8f; text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">
                              <strong>Total Invoice amount in words</strong>
                           </td>
                           <td colspan="6"  style="text-align: left; border-right:solid 1px #000; border-bottom:solid 1px #000;"> <strong>Total Amount before Tax</strong></td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                        </tr>
                        <tr>
                           <td rowspan="5" colspan="8" style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;"> &nbsp;</td>
                           <td colspan="6"  style="text-align: left; border-right:solid 1px #000; border-bottom:solid 1px #000;"> <strong>Add: CGST</strong></td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                        </tr>
                        <tr>
                           <td colspan="6"  style="text-align: left; border-right:solid 1px #000; border-bottom:solid 1px #000;"> <strong>Add: SGST</strong></td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                        </tr>
                        <tr>
                           <td colspan="6"  style="text-align: left; border-right:solid 1px #000; border-bottom:solid 1px #000;"> <strong>Add: IGST</strong></td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                        </tr>
                        <tr>
                           <td colspan="6"  style="text-align: left; border-right:solid 1px #000; border-bottom:solid 1px #000;"> <strong>Total Tax Amount</strong></td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                        </tr>
                        <tr>
                           <td colspan="6"  style="text-align: left; border-right:solid 1px #000; border-bottom:solid 1px #000;"> <strong>Total Amount after Tax:</strong></td>
                           <td style="text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                        </tr>
                        <tr>
                           <td colspan="8" style="background:#fabf8f; text-align: left; border-right:solid 1px #000; ">
                              <strong>Bank Details</strong>
                           </td>
                           <td colspan="5"  style="background:#fabf8f; text-align: left; border-right:solid 1px #000; border-bottom:solid 1px #000;"> &nbsp;</td>
                           <td style="background:#fabf8f; text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">&nbsp;</td>
                           <td style="background:#fabf8f; text-align: center; border-right:solid 1px #000; border-bottom:solid 1px #000;">0</td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
            <tr>
               <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-left:solid 1px #000; font-family:'Arial', Gadget, sans-serif; font-size:13px; line-height:18px; border-right: solid 1px #000;">
                     <tbody>
                        <tr>
                           <td width="67%" style="vertical-align: baseline; border-right:solid 1px #000; border-bottom:solid 1px #000;">
                              <strong>Bank Name:<br>&nbsp;<br>&nbsp;<br>&nbsp;</strong><br>
                              <strong>Bank A/C:</strong><br>
                              <strong>Bank IFSC:</strong><br>
                              <strong>Terms & Conditions </strong>:- Payment to be done in the name of company.              Any  claim after 24 hrs of delivery  shall not be acceptable. Kindly check the goods upon receipt <br>
                              Ceritified that the particulars given above are true and correct
                           </td>
                           <td  width="33%"style="vertical-align: baseline; text-align: right; border-bottom:solid 1px #000;">
                              <p style="text-align: center;">*Invoicing has been done under margin scheme of GST as per<br>
                                 Notification No. 10/2017- Central Tax
                              </p>
                              <br><strong>For BFS REATIL SERVICES PRIVATE LIMITED</strong><br> &nbsp; <br> &nbsp; <br>&nbsp; <br>&nbsp; <br><strong>Authorised Signatory</strong>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
         </tbody>
      </table>
   </body>
</html>