<%- include('../../public/assets/include/header'); %>
<section class="empty-content">
   <div class="container">
     <div class="">
       <div class="ec-box">
         <% if (message === 'success') { %>
           <h6>Thank you for shopping</h6>
           <p>Your order has been placed</p>
           <a href="/webSubCategories" class="bc-btn">CONTINUE SHOPPING</a>
         <% } else { %>
           <h6>Thank you for shopping</h6>
           <p><%= message %></p>
           <a href="/webSubCategories" class="bc-btn">CONTINUE SHOPPING</a>
         <% } %>
       </div>
     </div>
   </div>
 </section>
<%- include('../../public/assets/include/newsletter'); %>
<%- include('../../public/assets/include/footer'); %>