<%- include('../../public/assets/include/header'); %>

<section class="bids-wrapper">
    <div class="container">
       <div class="orderdetails-box">
          <div class="row">
             <div class="col-md-5">
               <div class="br-details ob-details">
                   <div class="bid-images"><img src="assets/images/product4.jpg" alt="images" class="img-fluid"></div>
                   <div class="bid-info">
                      <div class="bd-title">
                         <a href="order-details.php">Ut enim ad minim veniam nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</a>
                      </div>
                      <div class="bd-price">
                         <span><i class="fa fa-inr" aria-hidden="true"></i></span>
                         10,000
                      </div>                     
                   </div>
                </div> 
             </div>
             <div class="col-md-4">
                <div class="od-box">
                   <h5 class="short-title">Delivery Address</h5>
                   <p>157, Street Number 314, DE Block(Newtown), Action Area I, Newtown, New Town, West Bengal 700156</p>
                </div>
                <div class="od-box">
                    <h5 class="short-title">Phone number</h5>
                    <p>1234567890, 1234567890</p>
                </div>               
             </div>
 
              <div class="col-md-3">
                <div class="od-box">
                   <h5 class="short-title">More actions</h5>
                   <div class="act-btn-row">
                      <div class="act-btn">
                         <a href="javascript:void(0)">Download Invoice</a>
                      </div>
                      <div class="act-btn black-btn">
                         <a href="javascript:void(0)">Download label</a>
                      </div>
                   </div>                   
                </div>             
                
             </div>
 
              <div class="col-md-9">
                <div class="od-box">
                   <h5 class="short-title">Order Tracking</h5>
                   <div class="tracking-list">
                      <div class="tracking-steps">
                         <div class="steps-box step-done">
                            <div class="steps-label">
                               Order Confirmed
                            </div>
                            <div class="date-icfo">Mon, 9th Oct</div>                           
                         </div>
                         <div class="steps-box step-done">
                            <div class="steps-label">
                               Shipped
                            </div>
                            <div class="date-icfo">Mon, 11th Oct</div>                           
                         </div>
                         <div class="steps-box step-done">
                            <div class="steps-label">
                               Out For Delivery
                            </div>
                            <div class="date-icfo">Mon, 14th Oct</div>                           
                         </div>
                         <div class="steps-box">
                            <div class="steps-label">
                               Delivered
                            </div>
                            <div class="date-icfo">Mon, 16th Oct</div>                           
                         </div>
                      </div>                   
                   </div>                 
                </div>              
             </div>
             <div class="col-md-3">  
                <div class="od-box rating-part">
                    <h5 class="short-title">Review Product</h5>
                   <p><a href="javascript:void(0)" class="rt-link"><span><i class="fa fa-star" aria-hidden="true"></i></span> Rate & Review Product</a></p>
                </div>
             </div>
          </div>
          
          
       </div>
       
    </div>
 </section>



<%- include('../../public/assets/include/footer'); %>



<script>




</script>