<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <title>TAX INVOICE</title>
   </head>
   <body>
      <div style="width:100%; max-width:1000px; margin: 0 auto; ">
         <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
               <tr>
                  <td>
                     <table width="100%" border="0" cellspacing="0" cellpadding="3" style="font-family:'Arial', Gadget, sans-serif; font-size:12px; line-height:18px; margin-bottom: 10px;">
                        <tbody>
                           <tr>
                              <td style="text-transform: uppercase; text-align: center; border: solid 1px #000;">
                                 <h1 style="font-size:18px;">INVOICE</h1>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                     <table width="100%" border="0" cellspacing="0" cellpadding="3" style="font-family:'Arial', Gadget, sans-serif; font-size:12px; line-height:24px;">
                        <tbody>
                           <tr>
                              <td style="width: 50%; border-left: solid 1px #000; border-top: solid 1px #000;">
                                 <strong>Return By	</strong><br>
                                 <strong>Name:</strong> <%= order.user && order.user.length > 0 && order.user[0].name || '' %>&nbsp;<br>&nbsp;<br>&nbsp;<br>
                                 Address:&nbsp; <%= order.shipping_address[0].street_name %>, <%= order.shipping_address[0].address1 %><br>
                                 <%= order.shipping_address[0].landmark %>,<br>
                                 <%= order.shipping_address[0].city_name %>, <%= order.shipping_address[0].state_name %>&nbsp;<br>&nbsp;<br>&nbsp;<br>
                                 Contact No.: <%= order.user && order.user.length > 0 && order.user[0].phone_no || '' %>&nbsp;<br>
                                 E-mail Id: <%= order.user && order.user.length > 0 && order.user[0].email || '' %>
                              </td>
                              <td style="width: 50%; border-top: solid 1px #000; border-right: solid 1px #000;"><strong>Billing Address</strong><br>
                                 BFS Retail Services Private Limited<br>
                                 <strong>Address</strong>"ALTITUDE THE BUSINES PARK"  <br>
                                 2 OC Ganguly Sarani 10th, L.R.Sarani, <br>
                                 Kolkata, West Bengal, India,700020<br>
                                 <strong>Cin</strong> U46103WB2023PTC264898<br>
                                 <strong>Pan </strong> AALCB9231G<br>
                                 <strong>Gstin </strong> 19AALCB9231G1ZG<br>
                              </td>
                           </tr>
                           <tr style="margin-top: 30px;">
                              <% order.product.forEach(product => { %>
                              <td style="width: 50%; border-left: solid 1px #000;">
                                 <h1 style="font-size:14px;">Product Ref. No.		<%= product._id %></h1>
                                 <h1 style="font-size:14px;">Original Order No. <%= order.order_code %></h1>
                                 <h1 style="font-size:14px;">Original Order Date <%= formattedDate %></h1>
                              </td>
                              <td style="width: 50%; border-right: solid 1px #000;">
                                 <h1 style="font-size:14px;">&nbsp;</h1>
                                 <h1 style="font-size:14px;">Invoice No. 	SB/000001/24-25</h1>
                                 <h1 style="font-size:14px;">Invoice Date: <%= formattedDate %></h1>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </td>
               </tr>
               <tr>
                  <td>
                     <table width="100%" border="0" cellspacing="0" cellpadding="3" style="text-align: center; border-left:solid 1px #000; border-top:solid 1px #000; font-family:'Arial', Gadget, sans-serif; font-size:12px; line-height:18px;">
                        <tbody>
                           <tr>
                              <td style="width: 15%; border-right:solid 1px #000; border-bottom:solid 1px #000;"><strong>SL NO.</strong></td>
                              <td style="width: 25%; border-right:solid 1px #000; border-bottom:solid 1px #000;"><strong>DESCRIPTION</strong></td>
                              <td style="width: 15%; border-right:solid 1px #000; border-bottom:solid 1px #000;"><strong>Unit Price 
                                 </strong>
                              </td>
                              <td style="width: 15%; border-right:solid 1px #000; border-bottom:solid 1px #000;"><strong>Qty
                                 </strong>
                              </td>
                              <td style="width: 15%; border-right:solid 1px #000; border-bottom:solid 1px #000;"><strong>Net Amount
                                 </strong>
                              </td>
                              <td style="width: 15%; border-right:solid 1px #000; border-bottom:solid 1px #000;"><strong>Total Amount (Rs.)
                                 </strong>
                              </td>
                           </tr>
                           <tr>
                              <td style="border-right:solid 1px #000;">1</td>
                              <td style="border-right:solid 1px #000;">
                                 <h1 style="text-align: left; font-size:14px;"><%= product.name %></h1>
                              </td>
                              <td style="border-right:solid 1px #000;">&nbsp;<%= product.offer_price %></td>
                              <td style="border-right:solid 1px #000;">&nbsp;1</td>
                              <td style="border-right:solid 1px #000;">&nbsp;<%= product.offer_price %></td>
                              <td style="border-right:solid 1px #000;">
                                 <h1 style="text-align: right; font-size:14px;">&nbsp; <%= product.offer_price %></h1>
                              </td>
                           </tr>
                           <tr>
                            
                           </tr>
                           <tr>
                              <td colspan="6" style="text-align: left; border-right:solid 1px #000; border-bottom: 1px solid #000;"><strong>Rupees:</strong>  <%= offerPriceWords %> only</td>
                           </tr>
                           <tr>
                              <td colspan="6" style="text-align: left; border-right:solid 1px #000; border-bottom: 1px solid #000;"><strong>&nbsp;</strong> </td>
                           </tr>
                           </tr>
                        </tbody>
                     </table>
                  </td>
               </tr>
               <% }); %>
               <tr>
                  <td>
                     <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-left:solid 1px #000; font-family:'Arial', Gadget, sans-serif; font-size:13px; line-height:18px; border-right: solid 1px #000;">
                        <tbody>
                           <tr>
                              <td width="60%" style="vertical-align: baseline; border-bottom:solid 1px #000;">
                                 &nbsp;
                              <td  width="40%" style="height: 80px; vertical-align: bottom; text-align: right; border-bottom:solid 1px #000;">
                                 
                                 <strong style="border: 1px solid #000; border-bottom: none; padding-left: 45px; padding-top: 15px; border-right: none;">Authorised Signatory</strong>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </td>
               </tr>
            </tbody>
         </table>
         <h6>*Invoicing has been done under margin scheme of GST as per Notification No. 10/2017- Central Tax</h6>
      </div>
   </body>
</html>