<%- include('../../public/assets/include/header'); %>
<section class="inner-wrapper white-inner-wrapper bb-none">
   <div class="container">
      <div class="breadcum-product">
            <ul>
               <li><a href="javascript:void(0)">Home</a></li>
               <li><a href="javascript:void(0)">Clothing</a></li>
               <li>kids</li>
            </ul>
         </div>
         <div class="single-product-box">
            <div class="product-gallery">
               <!-- <img src="assets/images/test-product.jpg" alt="images" class="img-fluid"> -->
               <div class="exzoom hidden" id="exzoom">
    <div class="exzoom_img_box">
        <ul class='exzoom_img_ul'>
            <li><img src="/public/assets/images/test-product.jpg"/></li>
            <li><img src="/public/assets/images/test-product2.jpg"/></li>
            <li><img src="/public/assets/images/test-product3.jpg"/></li>
            <li><img src="/public/assets/images/test-product4.jpg"/></li>
            <li><img src="/public/assets/images/test-product5.jpg"/></li>
        </ul>
    </div>
    <div class="exzoom_nav"></div>
    <p class="exzoom_btn">
        <a href="javascript:void(0);" class="exzoom_prev_btn"> < </a>
        <a href="javascript:void(0);" class="exzoom_next_btn"> > </a>
    </p>
</div>
               
            </div>
            <div class="product-content">
               <h1 class="single-title">Girl  Fashion Dress Name</h1>
               <div class="short-descrition"><p>MARC JACOBS</p></div>
               <div class="product-price">
                  <div class="price-icon"><i class="fa fa-inr" aria-hidden="true"></i></div>
                  <div class="price-label">850</div>
               </div>
               <div class="catagorey-label">Like A New</div>
               <div class="reguler-price">Est. Retail: ₹ 11000</div>
               <div class="product-size">
                  Size: <label>6 -12 months</label>
               </div>
               <div class="prd-button-group spb-button-row">
                  <a href="single-product.php" class="prd-btn">Add to Cart</a>
                  <a href="bids.php" class="prd-btn orng-btn">Bid Now</a>
                  <a href="single-product.php" class="prd-btn"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                  <a href="single-product.php" class="prd-btn"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
               </div>
               <div class="delivery-checkbox">
                  <h4>Tentative Delivery</h4>
                  <div class="pincode-searchbox">
                     <input type="text" class="searchTerm" placeholder="Enter Pincode">
                     <input type="submit" value="Check Pincode">
                  </div>
                  <div class="delevery-time">Get it by Tomorrow 10 PM </div>
               </div>
            </div>
         </div> 
         
   </div>

</section >

<section class="product-description">
   <div class="container">
      <div class="description-tab">
         <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tab1" class="active">Description</a></li>
    <li><a data-toggle="tab" href="#tab2" class="">Shipping & Returns</a></li>    
  </ul>

   <div class="tab-content">
    <div id="tab1" class="tab-pane fade in active show">
      <h4>Girl  Fashion Dress Name</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
   <h6>Specifications:</h6>
   <div class="featured-list">
      <ul>
         <li><span>Brand:</span>Babyhug</li>
         <li><span>Sku:</span>LPA-MJ3408</li>
         <li><span>Type:</span>Saree With Blouse</li>
         <li><span>Fabric:</span>Polyester woven</li>
         <li><span>Sleeves:</span>Sleeveless</li>
         <li><span>Neck:</span>Round Neck</li>        
      </ul>
   </div>
    </div>

    <div id="tab2" class="tab-pane fade">
     <h4>Shipping & Returns</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    </div>    
  </div>

      </div>
   </div>
</section>

<section class="product-wrapper related-products">
   <div class="container">
      <div class="top-title">
         <div class="title-box">
            <h3>Related Products</h3>
         </div>
         <!-- <div class="short-box">
            <a href="javascript:void(0)">See All</a>
         </div> -->
      </div>
      <div class="slider product_Slider slider-basic">
         <div class="slider-item">
            <div class="product-box">
               <div class="product-image">
                  <a href="javascript;void(0)"><img src="/public/assets/images/product8.jpg" alt="images" class="img-fluid"></a>
               </div>
               <div class="prd-short-info">
                  <div class="prd-name"><a href="javascript:void(0)">Lorem ipsum dolor sit amet</a></div>
                  <div class="prd-price"><span><i class="fa fa-inr" aria-hidden="true"></i></span>10,000</div>
                  <div class="rtl-price"><span>Est. Retail:</span>₹110000</div>
               </div>
            </div>
         </div>
         <div class="slider-item">
            <div class="product-box">
               <div class="product-image">
                  <a href="javascript;void(0)"><img src="/public/assets/images/product7.jpg" alt="images" class="img-fluid"></a>
               </div>
               <div class="prd-short-info">
                  <div class="prd-name"><a href="javascript:void(0)">Lorem ipsum dolor sit amet</a></div>
                  <div class="prd-price"><span><i class="fa fa-inr" aria-hidden="true"></i></span>10,000</div>
                  <div class="rtl-price"><span>Est. Retail:</span>₹110000</div>
               </div>
            </div>
         </div>
         <div class="slider-item">
            <div class="product-box">
               <div class="product-image">
                  <a href="javascript;void(0)"><img src="/public/assets/images/product3.jpg" alt="images" class="img-fluid"></a>
               </div>
               <div class="prd-short-info">
                  <div class="prd-name"><a href="javascript:void(0)">Lorem ipsum dolor sit amet</a></div>
                  <div class="prd-price"><span><i class="fa fa-inr" aria-hidden="true"></i></span>10,000</div>
                  <div class="rtl-price"><span>Est. Retail:</span>₹110000</div>
               </div>
            </div>
         </div>
         <div class="slider-item">
            <div class="product-box">
               <div class="product-image">
                  <a href="javascript;void(0)"><img src="/public/assets/images/product2.jpg" alt="images" class="img-fluid"></a>
               </div>
               <div class="prd-short-info">
                  <div class="prd-name"><a href="javascript:void(0)">Lorem ipsum dolor sit amet</a></div>
                  <div class="prd-price"><span><i class="fa fa-inr" aria-hidden="true"></i></span>10,000</div>
                  <div class="rtl-price"><span>Est. Retail:</span>₹110000</div>
               </div>
            </div>
         </div>
         <div class="slider-item">
            <div class="product-box">
               <div class="product-image">
                  <a href="javascript;void(0)"><img src="/public/assets/images/product5.jpg" alt="images" class="img-fluid"></a>
               </div>
               <div class="prd-short-info">
                  <div class="prd-name"><a href="javascript:void(0)">Lorem ipsum dolor sit amet</a></div>
                  <div class="prd-price"><span><i class="fa fa-inr" aria-hidden="true"></i></span>10,000</div>
                  <div class="rtl-price"><span>Est. Retail:</span>₹110000</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<%- include('../../public/assets/include/newsletter'); %>
    <%- include('../../public/assets/include/footer'); %>