<%- include('../../public/assets/include/header'); %>
<section class="inner-wrapper white-inner-wrapper">
    <div class="container">
       <div class="title-box">       
             <h1>All Categories</h1> 
          <div class="breadcum-product">
             <ul>
                 
                <li><a href="/api/home">Home</a></li>               
                <li>All Categories</li>
             </ul>
          </div>        
         </div>
       <div class="product-wrapper">         
          <div class="main_product-wrapper fullwidth-productlist">
              <div class="top-title shorting-row">
          <!--<div class="product-result d-flex aling-center">-->
          <!--   <h5>Showing 186 results for Mix of Everything</h5>-->
          <!--</div>-->
          <!--<div class="shorting-box">-->
          <!--  <div class="short-label">Sort by:</div>-->
          <!--  <div class="short-dropdown">-->
          <!--     <select class="form-control" id="sel2" name="sellist2">-->
          <!--        <option selected>Highest Price</option>-->
          <!--        <option>2</option>-->
          <!--        <option>3</option>-->
          <!--        <option>4</option>-->
          <!--        <option>5</option>-->
          <!--   </select>-->
          <!--  </div>-->
          <!--</div>-->
       </div>
       <div class="product-listrow column4-box" id="render-div">
          <!-- <div class="product-box">
                <div class="product-image">
                   <a href="product.php"><img src="assets/images/product1.jpg" alt="images" class="img-fluid"></a>
                </div>
                <div class="prd-short-info">
                   <div class="prd-name"><a href="product.php">Watches</a></div>                 
                </div> 
             </div>
 
             <div class="product-box">
                <div class="product-image">
                   <a href="product.php"><img src="assets/images/product2.jpg" alt="images" class="img-fluid"></a>
                </div>
                <div class="prd-short-info">
                   <div class="prd-name"><a href="product.php">Sunglass</a></div>                 
                </div> 
             </div>
 
             <div class="product-box">
                <div class="product-image">
                   <a href="product.php"><img src="assets/images/product3.jpg" alt="images" class="img-fluid"></a>
                </div>
                <div class="prd-short-info">
                   <div class="prd-name"><a href="product.php">Ipad</a></div>                  
                </div>               
             </div>
             
             <div class="product-box">
                <div class="product-image">
                   <a href="product.php"><img src="assets/images/product4.jpg" alt="images" class="img-fluid"></a>
                </div>
                <div class="prd-short-info">
                   <div class="prd-name"><a href="product.php">Mobiles</a></div>                  
                </div>               
             </div>
 
             <div class="product-box">
                <div class="product-image">
                   <a href="product.php"><img src="assets/images/product5.jpg" alt="images" class="img-fluid"></a>
                </div>
                <div class="prd-short-info">
                   <div class="prd-name"><a href="product.php">Bags</a></div>                  
                </div>               
             </div>
 
             <div class="product-box">
                <div class="product-image">
                   <a href="product.php"><img src="assets/images/kids-product.jpg" alt="images" class="img-fluid"></a>
                </div>
                <div class="prd-short-info">
                   <div class="prd-name"><a href="product.php">Kids Fashion</a></div>                  
                </div>               
             </div>
 
             <div class="product-box">
                <div class="product-image">
                   <a href="product.php"><img src="assets/images/women-dress.jpg" alt="images" class="img-fluid"></a>
                </div>
                <div class="prd-short-info">
                   <div class="prd-name"><a href="product.php">Women Fashion</a></div>                  
                </div>               
             </div>
 
             <div class="product-box">
                <div class="product-image">
                   <a href="product.php"><img src="assets/images/shoo-product.jpg" alt="images" class="img-fluid"></a>
                </div>
                <div class="prd-short-info">
                   <div class="prd-name"><a href="product.php">Mens Shoes</a></div>                  
                </div>               
             </div>
 
       </div>
          </div> -->
          
       
        </div>
       
          
    </div>
 </section>

<%- include('../../public/assets/include/newsletter'); %>
<%- include('../../public/assets/include/footer'); %>

<script>
  async function fetchData() {
      const apiCall = await fetch('/api/subcategory');
       const responseData = await apiCall.json();

       const finalData = responseData.respdata;
       populateHtml(finalData);
      
   }

   function populateHtml(data)
   {
      // console.log('HELLO WORLD');
      // console.log(data);
      data.forEach(item => {
         var hTml = `<div class="product-box">
            <div class="product-image">
                <a href="/api/websubcategoriesproducts/${item._id}"><img src="${item.images}" alt="images" class="img-fluid"></a>
            </div>
            <div class="prd-short-info">
               <div class="prd-name"><a href="/api/websubcategoriesproducts/${item._id}">${item.name}</a></div>                 
            </div> 
         </div>`;
         $("#render-div").append(hTml);
       });
     
   }

   window.onload = fetchData;
</script>